* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 600px;
  border: 1px solid black;
}

.card__left {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  max-width: 300px;
}

.card__left > a {
  margin-top: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.card__left > p {
  color: rgb(74, 74, 74);
}

.card__right {
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.card__right > img {
  max-width: 180px;
}
